{
    "extends": "airbnb",
    "parserOptions": {
        "ecmaVersion": 6
    },
    "env": {
        "node": true,
        "es6": true,
        "browser": true
    },
    "rules": {
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"]}],
        "indent": ["error", 2],
        "arrow-parens": 0,
        "arrow-body-style": 0
    }
}